
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Discúlpenos: Tenemos dificultades técnicas</h2>
<p>@ViewBag.Exception</p>
<!-- <img src="~/Images/ExceptionImagen.jpg" /> -->

Por favor inténtelo más tarde en caso contrario por favor comunicarse con el administrador