@{
    ViewBag.Title = "Simco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Qué es SIMCO?</h1>
<p>El Sistema de Información de Museos Colombianos – SIMCO es la herramienta virtual  implementada por el Programa de Fortalecimiento de Museos para la gestión de la información de los museos colombianos, la cual ha permitido consolidar datos, indicadores, niveles organizativos, e inventario de colecciones, entre otros elementos en beneficio del sector.</p>
<p>Este sistema cuenta con los siguientes módulos:</p>
<hr />
<strong>1. Módulo Directorio en línea</strong>
<p>Este módulo  permite a los museos y  agentes registrados ante el Ministerio de Cultura tener un espacio de divulgación en SIMCO. Además, sirve como insumo para la creación de apps para móviles donde se referencian los museos registrados en SIMCO.</p>
<hr />
<strong>2. Módulo de registro</strong>
<p>Este módulo permite realizar el proceso de registro y clasificación de las entidades museales colombianas, así como de personas naturales e instituciones aliadas con lo que se busca establecer redes de contacto, consolidar un directorio de agentes e instituciones y difundir información relevante para el sector museal colombiano.</p>
<hr />
<strong>3. Módulo de asesorías</strong>
<p>Este módulo permite que las entidades museales, los agentes del sector y la ciudadanía en general, consignen diversas solicitudes de asesorías (jurídicas, administrativas, de conservación, catalogación, registro y museológicas en general) y obtengan una respuesta y/o acompañamiento virtual por parte del grupo de trabajo del Programa de Fortalecimiento de Museos.</p>
<hr />
<strong>4. Módulo de Consulta de información </strong>
<p>Por medio del módulo se pueden generar informes estadísticos del sector, con el fin de establecer tendencias de los datos suministrados, permitiendo determinar necesidades, debilidades, fortalezas y buenas prácticas museales, así como entregar informes sobre el sector.</p>
<hr />
<strong>5. Módulo de Colecciones Colombianas</strong>
<p>En cumplimiento del Artículo 54 de la Ley General de Cultura frente “a la sistematización y el control de inventarios de las colecciones de todos los museos del país”, SIMCO se encuentra articulado con el software Colecciones Colombianas (herramienta informática que facilita el inventario, registro y clasificación, así como el control de los inventarios de las colecciones de todos los museos del país), a través del módulo de colecciones, con el cual integra la información de gestión de los museos y la sistematización y catalogación del patrimonio museal colombiano en línea.</p>
<hr />
<strong>6. Módulo Plan de Fortalecimiento</strong>
<p>En este módulo, cada una de las entidades museales registradas y/o que han actualizado su información anualmente en el Sistema, pueden encontrar un diagnóstico técnico elaborado por los asesores del Programa Fortalecimiento de Museos, teniendo en cuenta la información de registro y clasificación. El Plan de Fortalecimiento consiste en la descripción de una secuencia de recomendaciones y/o sugerencias orientadas a superar las debilidades o reforzar las fortalezas encontradas durante el proceso de evaluación de diversos temas como Gestión de colecciones, Gestión administrativa y financiera, y Apropiación social.</p>